<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/gallery-recipes.css" type="text/css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/lightbox.min.css">
  <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
  <title>5ª Essência - Notícias</title>
</head>
  <body id="body">

    <header id="navbar" style="background: rgba(56, 56, 56, 0.7);">
    	<h2><a href="">5ª Essência</a></h2>
    	<nav>
    		<li><a class="expand_middle" href="index.html">Home</a></li>
    		<li><a class="expand_middle" href="chef.html">Chef</a></li>
    		<li><a class="expand_middle" href="index.html#menus">Cardápios</a></li>
    		<li><a class="expand_middle" href="index.html#services">Serviços</a></li>
    		<li><a class="expand_middle" href="index.html#packages">Galerias</a></li>
    		<li><a class="expand_middle" href="index.html#contact">Contato</a></li>
    		<li><a class="expand_middle" href="#">Notícias</a></li>
    		<li><a class="expand_middle" href="#">EN</a></li>
    	</nav>
    </header>

    <section class="bread-crumbs">
      <div class="bread-crumbs-links">
        <a href="index.html">Home /</a>
        <a href="news.html">Notícias /</a>
        <a href="#" class="active"> Título da Notícia</a>
      </div>
    </section>

    <section class="news-detail">
      <div class="title-news">
        <h3 class="title">Titulo da Notícia Lorem ipsum dolor.</h3>
        <hr>
      </div>
      <div class="date-time">
        <p>22/01/2018 - Segunda-feira</p>
      </div>
      <div class="news-content">
        <img src="assets/img/news1.jpg" alt="News 1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, explicabo iste dicta itaque odio voluptates nihil temporibus, incidunt quod officiis aperiam quos, numquam quam at perferendis ipsam rerum deserunt eligendi. Reprehenderit explicabo perferendis odio quos, minus sed harum iste ad exercitationem iure ullam perspiciatis praesentium quisquam porro suscipit commodi, qui dolorem beatae corrupti veritatis omnis. Quaerat, sapiente, suscipit. Deleniti, impedit, hic. Fugiat expedita iure soluta obcaecati, quae corrupti voluptas rem! Laudantium pariatur recusandae adipisci quas eum non atque odio labore, iste, dolore perspiciatis enim expedita magnam cumque aliquid inventore nemo repellendus perferendis, suscipit beatae asperiores quasi quia consectetur! Id, explicabo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, nobis amet quasi, pariatur illum itaque! Sint ipsam velit modi vitae quo nam maxime nemo est deleniti, illo id, labore dolor eveniet recusandae, iure a sequi vel sapiente debitis mollitia. Dolores itaque debitis, perspiciatis eveniet molestias doloribus quas, nihil pariatur dolor consequatur optio illum mollitia enim dicta officiis nemo doloremque quae.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit iusto voluptatibus, ullam ipsum omnis quo alias id at sint debitis, nisi odio. Consectetur minus sint praesentium earum commodi molestiae ex facilis quibusdam soluta ducimus suscipit odit delectus eius repellat numquam reiciendis nemo ut, expedita libero blanditiis necessitatibus nisi laudantium. Eligendi id vero veritatis facilis, dicta at, maiores delectus fugit consectetur harum, nesciunt illo tempore. Autem, neque. Quibusdam nemo atque velit autem eligendi! Nulla impedit animi explicabo cum, laborum, architecto, amet, omnis necessitatibus harum vel odit!</p>
      </div>
    </section>

    <footer>
      <p>5ª Essência Gastronomia e Eventos. </p>
      <p>&copy Copyright: <a href="#"><strong> Márcia da Silva</strong></a></p>
      <ul>
        <li><a href="https://twitter.com/mds_marcia" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://www.facebook.com/marciah.silvah" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-star fa-2x"></i></a></li>
      </ul>
    </footer>
  </body>
</html>
