/*General Styles*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Arvo');

:root {
  --main-color: #b71c1c;
	--main-color-dark: #555;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Arvo', monospace;
	color: #555;
  line-height: 1.5em;
  overflow-x: hidden;

  @supports(display: grid) {
    display: block;
  }
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: #f5f5f5;
  font-weight: 300;
	cursor: pointer;
}

a:hover {
	color: var(--main-color);
}

a.btn {
	border-radius: 4px;
	text-align: center;
	opacity: 1;
}

button{
  border: none;
  outline:none;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

 /* Exceto capa cada section alterna entre
 fundo branco e cinza*/
section:not(.hero):nth-child(odd) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: var(--main-color);
	border: 0;
  margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Arvo", monospace;
	margin-bottom: 20px;
	text-align: center;
}

section h3.title a{
  color: var(--main-color-dark);
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
  word-break: normal;
}

.pagination{
  list-style: none;
  padding: 0.5em 0;
  margin: 0;
  border-radius: 0.75%;
}

.pagination li {
  display:inline-block;
  font-size: 1.5em;
  padding: 1em 0.5em;
  margin-left: -4px;
  color: #555;
}

.pagination li:first-child{
  padding-left: 2em;
}

.pagination li:last-child{
  padding-right: 2em;
}

.pagination .active, .pagination .disabled{
  color: #555;
  font-weight: 700;
}

.pagination li a{
  color: #555;
  text-decoration: none;
}

.bread-crumbs{
  color: #383838;
  letter-spacing: 1px;
  padding-top: 7em;
  padding-bottom: 1em;
  font-size: .7em;
  text-transform: uppercase;
  text-align: left;
  // word-spacing: 2px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bread-crumbs * {
  display: flex;
  flex-direction: row;
}

.search #filter{
  margin-right: 1em;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #383838;
}

.bread-crumbs .bread-crumbs-links a {
  color: #383838;
  text-decoration: none;
  padding: 0 .7em;
}

.bread-crumbs .bread-crumbs-links a:hover {
  color: var(--main-color);
}

.bread-crumbs .active {
  border-bottom: 1px solid var(--main-color);
}

.bread-crumbs .search {
  input[type=search] {
    background-color: transparent;
    border: none;
  }

  input[type=search]:hover {

  }

  input[type=search]:focus {

  }

  input:-moz-placeholder {
    color: transparent;
  }

  input::-webkit-input-placeholder {
    color: transparent;
  }
}

.show-input-filter{
  opacity: 0;
  // transition: opacity 0.7s ease 0s;
}

.share-class{
  display: none;
}

.share-social{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);

  @supports(display: grid) {
    display: none;
  }
}

@media (max-width: 1050px) {
  .bread-crumbs{
    padding-top: 8.5em;
  }
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

@media (max-width: 650px) {
  .bread-crumbs{
    padding-top: 11em;
  }
}
