$dark_gray: #383838;
$dark_red: #a72830;

#admin-page{
  height: 50%;
  background-image: url("../img/topography.svg"),
  linear-gradient(110deg, $dark_gray, $dark_red);
  min-height: calc(100vh - 100px);

  display: flex;
  align-items: center;
  justify-content: center;

  .panel{
    background: #f5f5f5;
    color: $dark_gray;
    width: 100%;
    height: 100%;
  }
}

.all-cards{
	background-image: url("../img/topography.svg"),
	//linear-gradient(110deg, #f93d66, #6d47d9);
	//linear-gradient(110deg, #3e5151, #decba4);
	linear-gradient(110deg, $dark_gray, $dark_red);
	background-size: 340px, auto;
	min-height: calc(100vh - 100px);
	/*background-position: fixed;*/
	letter-spacing: -1px;
  /* border-box box model allows add padding and border to our
    elements without increasing their size */
  box-sizing: border-box;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-weight: 900;
  font-size: 10px;
  color: $dark_gray;
  padding-left: 3em;
  padding-right: 3em;

  .show-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 2em;

    .card-items {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 1em;
      color: white;
      font-weight: 100;
      font-size: 1.5em;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
              "image"
              "description"
              "buttons";
      grid-gap: 1em;
      align-items: center;

      .card_img {
        grid-area: image;
        width: 100%;
        height: 150px;
        justify-self: center;
        //width: 200px;
      }

      .card_description{
        grid-area: description;
        p{
          padding: 0;
        }

        h2 {
          text-transform: capitalize;
        }
      }

      .card_buttons{
        grid-area: buttons;
        border-top: 1px solid $dark_gray;
        padding-top: 1em;

        display: grid;
        grid-template-columns: 1fr 1fr;

        > a{
          padding: 1em;

          &:hover{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
          i{
            color: $dark_gray;
          }
        }
      }

      &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
      }
    }
  }

  button{
    padding: 1em;
    margin-top: 1em;
    background-color: $dark_gray;
    font-size: 1.5em;

    a{
      text-decoration: none;
      color: #fff;
    }

    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      cursor: pointer;
    }
  }

}


// navbar-admin
.item-checked{
  //background: $dark_red;
  padding-bottom: 0.5em !important;
  border-bottom: 5px solid $dark_red;
  //color: white !important;
  transition: 0.2s;
  //border-radius: 5px;
}

// Create

.create-form{
  background-image: url("../img/topography.svg"),
  linear-gradient(110deg, $dark_red, $dark_gray);
  background-size: 340px, auto;
  min-height: calc(100vh - 100px);
  letter-spacing: -1px;
  box-sizing: border-box;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-weight: 900;
  font-size: 10px;
  color: $dark_gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .caixa {
    background: rgba(255, 255, 255, 0.7);

    form{
      color: $dark_gray;
      min-height: 50vh;
      min-width: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-left: 0.5em;
      padding-right: 0.5em;

      .form-grupo{
        padding: 2em;
        margin: 1em;
        width: 80%;
        color: $dark_gray;

        .subir{
          position: relative;
          padding-bottom: 1em;

          label{
            position:absolute;
            top: 0;
            left: 0;
            color: $dark_gray;
            transition: .5s;
            pointer-events: none;
            font-size: 1.5em;
          }

          input:focus ~ label, textarea:focus ~ label,
          input:valid ~ label, textarea:valid ~ label{
            top: -1em;
            left: 0;
            color: $dark_red;
            font-size: 1.5em;
            font-weight: bold;
          }

          span{
            font-size: 1.5em;
          }
        } // fim subir

        a{
          text-decoration: none;
          color: #fff;
        }

        .select{
          margin: 1em 0 4em 0;
          font-size: 1.5em;

          label{
            padding: 0.5em;
          }

          select {
            padding: 5px 8px;
            border: 1px solid $dark_gray;
            border-radius: 3px;
            background: transparent;

            &:focus {
              outline: none;
            }
          }
        }

        #file {
          background-color: $dark_red;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
          padding: 0.5em 4em;
          font-size: 1.5em;
          letter-spacing: 1px;

          &:hover{
            background-color: $dark_gray;
            box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
          }
        }

        input, textarea{
          background-color: transparent;
          color: $dark_gray;
          border: none;
          width: 100%;
          border-bottom: 1px solid $dark_gray;
          margin-bottom: 1em;
          padding: 0.5em 0;
          font-size: 1.5em;
          outline: 0 none;
          transition: 0.5s;
          box-sizing: border-box;
          box-shadow: none;

          &:focus{
            border-bottom: 1px solid $dark_red;
          }
        }

        textarea{
          resize: vertical;
        }

        input[type='file'] {
          display: none;
        }

        img{
          margin-top: 2em;
          padding: 1em;
          max-height: 25vh;
          max-width: 25vh;
          // Centralizar
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%, 0);
        }

        .error-message{
          padding: 1em;
          span{
            font-size: 1.5em;
            text-shadow: none;
            letter-spacing: 1px;
          }
        }

      } // End form-grupo

      button{
        background: $dark_gray;
        padding: 0.5em;
        margin: 0.5em;
        font-size: 1.5em;
        width: 92%;

        &:hover{
          background: $dark_red;
        }
      }
    }

    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
  }// fim caixa
}

.company-custom{
  padding-top: 1em;
  padding-bottom: 1em;
}

@media (min-width: 700px) {
  #admin-page{
    .panel{
      width: 50%;
      height: 50%;
    }
  }

  .all-cards{
    .show-card {
      //grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      .card-items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                        "image description"
                        "buttons buttons";

        .card_img {
          grid-area: image;
          height: 150px;
          width: 200px;
        }
      }
    }
  }

  .create-form{
    .caixa{
      form{
        min-width: 75vh;
        min-height: 60vh;

        button{
          margin-top: 2em;
          width: 75%;
        }
      }
    }
  }

  .company-custom{
    .caixa{
      .form-grupo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 3em;
      }
      form{
        min-width: 100vh;
      }
    }
  }

}
