$dark_gray: #383838;
$dark_red: var(--main-color);

#admin-page{
  background-image: url("../img/topography.svg"),
  linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#admin-page .panel{
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

 h1{
   color:#f5f5f5;
 }

 h2{
   color:#f5f5f5;
 }

 p{
   color:#f5f5f5;
 }
}

#admin-page .panel * {
  padding: 1em;
}

@media (max-width: 900px) {
  #admin-page .panel{
    height: 50%;
  }
}

.all-cards{
	background-image: url("../img/topography.svg"),
	//linear-gradient(110deg, #f93d66, #6d47d9);
	//linear-gradient(110deg, #3e5151, #decba4);
	// linear-gradient(110deg, $dark_gray, $dark_red);
  linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	background-size: 340px, auto;
	min-height: calc(100vh - 100px);
	/*background-position: fixed;*/
	letter-spacing: -1px;
  /* border-box box model allows add padding and border to our
    elements without increasing their size */
  box-sizing: border-box;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-weight: 900;
  font-size: 10px;
  color: $dark_gray;
  padding: 8em 3em 0 3em;
  text-align: center;
  min-height: 100vh;
}

.all-cards button{
  padding: 1em;
  margin-top: 1em;
  background-color: $dark_red;
  color: #f5f5f5;
  font-size: 1.5em;
  transition: all .35s ease-in-out;

  a{
    text-decoration: none;
    color: #fff;
  }

  &:hover{
    cursor: pointer;
  }
}

.all-cards .show-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 2em;

  .card-service:nth-child(odd){
    grid-template-areas:
            "description image";
  }
}

.all-cards .show-card .card-items {
  // background: rgba(255, 255, 255, 0.2);
  background: rgba(0,0,0,0.5);
  // box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  padding: 1em;
  color: white;
  font-weight: 100;
  font-size: 1.5em;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
          "image"
          "description"
          "buttons";
  grid-gap: 1em;
  align-items: center;

  transition-duration: .2s;

  &:hover{
    // box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
    transform: scale(1.03);
  }
}

.all-cards .show-card .card-items * {
  color: #f5f5f5;
}

.all-cards .show-card .card-items .card_img {
  grid-area: image;
  width: 100%;
  height: 150px;
  justify-self: center;
  //width: 200px;
}

.all-cards .show-card .card-items .card_description{
  grid-area: description;
  word-wrap: break-word;
  overflow: hidden;

  p{
    padding: 0.5em 0;

    a{
      text-decoration: none;
      color: #fff;
      background: $dark_gray;
      padding: 0 1em;
      border-radius: 25%;
    }
  }

  h2 {
    text-transform: capitalize;
  }
}

.all-cards .show-card .card-items .card_buttons{
  grid-area: buttons;
  border-top: 1px solid $dark_gray;
  padding-top: 1em;

  display: grid;
  grid-template-columns: 1fr 1fr;

  transition: all .35s ease-in-out;

  > a{
    padding: 1em;

    &:hover{
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    i{
      color: $dark_gray;
    }
  }
}

@media (max-width: 770px) {
  .all-cards{
    padding: 11em 3em 0 3em;
  }
}

@media (max-width: 400px) {
  .all-cards{
    // padding: 15em 3em 0 3em;
    padding: 15em 0 0 0!important;

    .show-card{
      padding: 2em .5em!important;
    }
  }
}


// navbar-admin
.item-checked{
  padding-bottom: 0.1em !important;
  border-bottom: 5px solid $dark_red;
  transition:
          border-bottom 500ms cubic-bezier(0.420, -0.405, 0.300, 1.590);
}

// Create

.create-form{
  background-image: url("../img/topography.svg"),
  //linear-gradient(110deg, #f93d66, #6d47d9);
  //linear-gradient(110deg, #3e5151, #decba4);
  // linear-gradient(110deg, $dark_gray, $dark_red);
  linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-size: 340px, auto;
  min-height: calc((100vh - 70px)* 1.2);
  letter-spacing: -1px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  font-weight: 900;
  font-size: 10px;
  color: $dark_gray;
  padding-top: 16em!important;
  padding-bottom: 2em!important;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10em;
}

.create-form .caixa {
  background: rgba(255, 255, 255, 0.7);
  transition: all .35s ease-in-out;

  &:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  }
}

.create-form .caixa form {
  color: $dark_gray;
  background-color: rgba(0,0,0,.5);
  min-height: 50vh;
  min-width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 0.5em;
  padding-right: 0.5em;

  button {
    background: $dark_gray;
    color: #f5f5f5;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1.5em;
    width: 50%;
    transition: all .35s ease-in-out;

    &:hover {
      background: $dark_red;
    }
  }

  h1 {
    color: $dark_gray;
    margin-top: 1em;
  }
}

.create-form .caixa form .form-grupo{
  padding: 2em;
  margin: 1em;
  width: 100%;
  // color: $dark_gray;
  color: #f5f5f5;

  a{
    text-decoration: none;
    color: #fff;
  }

  .select{
    margin: 1em 0 4em 0;
    font-size: 1.5em;

    label{
      padding: 0.5em;
    }

    select {
      padding: 5px 8px;
      border: 1px solid $dark_gray;
      border-radius: 3px;
      background: transparent;

      &:focus {
        outline: none;
      }
    }
  }

  #file {
    background-color: $dark_red;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 4em;
    font-size: 1.5em;
    letter-spacing: 1px;
    transition: all .35s ease-in-out;

    &:hover{
      background-color: $dark_gray;
      box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
  }

  input, textarea{
    background-color: transparent;
    color: #f5f5f5;
    border: none;
    width: 100%;
    border-bottom: 1px solid $dark_gray;
    margin-bottom: 1em;
    padding: 0.5em 0;
    font-size: 1.5em;
    outline: 0 none;
    transition: 0.5s;
    box-sizing: border-box;
    box-shadow: none;

    &:focus{
      border-bottom: 1px solid $dark_red;
    }

    &:hover {
      cursor: default;
    }
  }

  textarea{
    resize: vertical;
  }

  input[type='file'] {
    display: none;
  }

  img{
    margin-top: 2em;
    // padding: 1em;
    max-height: 25vh;
    max-width: 25vh;
    // Centralizar
    // position: relative;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, 0);
  }

  .error-message{
    padding: 1em;
    span{
      font-size: 1.5em;
      text-shadow: none;
      letter-spacing: 1px;
    }
  }
}

.create-form .caixa form .form-grupo .centralizar-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.create-form .caixa form .form-grupo .subir{
  position: relative;
  padding-bottom: 1em;

  label{
    position:absolute;
    top: 0;
    left: 0;
    color: $dark_gray;
    transition: .5s;
    pointer-events: none;
    font-size: 1.5em;
  }

  input:focus ~ label, textarea:focus ~ label,
  input:valid ~ label, textarea:valid ~ label{
    top: -1.5em;
    left: 0;
    color: $dark_red;
    font-size: 1.5em;
    font-weight: bold;
  }

  span{
    font-size: 1.5em;
  }
}

.company-custom{
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: stretch;
}

.company-custom {
  padding: 0 1em;
}

@media (min-width: 700px) {
  #admin-page .panel{
    width: 50%;
    height: 50%;
  }

  .all-cards .show-card {
    //grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .card-items{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
                      "image description"
                      "buttons buttons";
      height: 60vh;

      .card_img {
        grid-area: image;
        height: 30vh;
      }
      .card_description {
        height: 30vh;
      }
    }
  }

  .create-form{
    padding-top: 10em!important;
    min-height: calc(100vh - 70px);
  }

  .create-form .caixa form{
    min-width: 75vh;
    min-height: 60vh;

    button{
      margin-top: 2em;
      width: 25%;
    }
  }

  .company-custom .caixa{
    .form-grupo{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 3em;
    }

    form{
      min-width: 100vh;
    }
  }

}
