.categories-service{
  width: 100%;
}

.categories-service hr{
  margin: 0 auto;
  margin-bottom: 35px;
}

.categories-service .card-title{
  display: flex;
  flex-direction: row;
  background: #fff;
  margin-bottom: 1em;
}

.categories-service .card-title:nth-child(even){
  flex-direction: row-reverse;
}

.categories-service .card-title a{
  flex-basis: 50%;
  color: #555;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.categories-service .card-title .image-text{
  flex-basis: 50%;
}

.categories-service .card-title .image-text img{
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .categories-service .card-title{
    flex-wrap: wrap;
  }

  .categories-service .card-title a{
    flex-basis: 100%;
  }

  .categories-service .card-title .image-text{
    flex-basis: 100%;
  }
}
