$dark_gray: #383838;
$dark_red: #a72830;

.all-cards{
	background-image: url("../img/topography.svg"),
	//linear-gradient(110deg, #f93d66, #6d47d9);
	//linear-gradient(110deg, #3e5151, #decba4);
	linear-gradient(110deg, $dark_gray, $dark_red);
	background-size: 340px, auto;
	min-height: calc(100vh - 100px);
	/*background-position: fixed;*/
	letter-spacing: -1px;
  /* border-box box model allows add padding and border to our
    elements without increasing their size */
    box-sizing: border-box;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
    font-weight: 900;
    font-size: 10px;
    color: $dark_gray;


  .show-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 2em;

    .card-items {
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      padding: 1em;
      color: white;
      font-weight: 100;
      font-size: 1.5em;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
              "image description"
              "buttons buttons";
      grid-gap: 1em;
      align-items: center;

      .card_img {
        grid-area: image;
        width: 100%;
      }

      .card_description{
        grid-area: description;
        p{
          padding: 0;
        }
      }

      .card_buttons{
        grid-area: buttons;
        border-top: 1px solid $dark_gray;
        padding-top: 1em;

        display: grid;
        grid-template-columns: 1fr 1fr;

        > a{
          padding: 1em;

          &:hover{
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          }
          i{
            color: $dark_gray;
          }
        }
      }

      &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
      }
    }
  }

  button{
    padding: 1em;
    margin-top: 1em;
    background-color: $dark_gray;
    font-size: 1.5em;

    a{
      text-decoration: none;
      color: #fff;
    }

    &:hover{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
  }

}

@media (min-width: 700px) {

  .all-cards{
    .show-card {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
  }
}