.menu-cards {
 /* display: grid; */
 /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); */
 /* grid-gap: 1em; */
 // min-height: 100vh;

 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: stretch;
 justify-content: space-around;
 /* align-items: baseline; */
}

.menu-cards .card{
 text-align: center;
 width: 27%;
 background: #fff;
 margin: 1em;
 transition: 0.7s;
}

.menu-cards .card:hover{
  opacity: 0.5;
}

.menu-cards .card img{
  height: 40vh;
	display: block;
	width: 100%;
	/* box-shadow: -1px 0px 0px rgba(0,0,0,0.06); */
}

.menu-cards .card .card-content{
  height: 20vh;
  background-color: #fff;
}

.menu-cards .card h4{
  text-align: center;
}

.menu-cards .card p{
  text-align: justify;
}

@media (max-width: 1100px) {
 .menu-cards .card{
   width: 33.33%;
 }
}

@media (max-width: 700px) {
 .menu-cards .card{
   width: 75%;
 }
}
