:root {
  --main-color: #b71c1c;
	--main-color-dark: #555;
}

h2, p{
  text-align: center;
  color: var(--main-color-dark);
}

.news-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 0.5em;
}

.item-news{
  width: 30%;
  height: 30%;
  margin: .5em;
}

.item-news a{
  display: flex;
  flex-direction: column;
  border: .5px solid var(--main-color-dark);

  article {
    display: flex;
    flex-direction: column;
  }

  .article-title{
    color: var(--main-color-dark);
    margin-bottom: .5em;
    text-align: center;
  }

  .article-content{

  }

  figure{
    margin-bottom: 1em;
  }

  figure img{
    width: 100%;
    height: 50vh;
  }

  .data-info{
    color: #fff;
    padding: .5em;
    text-align: center;
    background-color: var(--main-color-dark);
  }

}


/*  News Detail Page  */
.news-detail .title-news hr{
  margin: 0 auto;
  margin-bottom: 35px;
}

.news-detail .date-time{
  text-align: left;
  font-size: 0.8em;
  width: 100vw;
}

.news-detail .news-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.news-detail .news-content img{
  width: 25vw;
  height: 50vh;
  margin-bottom: 3em;
}

.news-detail .news-content p{
  text-align: justify;
}
