:root {
  --main-color: #b71c1c;
	--main-color-dark: #555;
}

h2, p{
  text-align: center;
  color: var(--main-color-dark);
}

.news-section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 0.5em;
}

.item-news{
  width: 33%;
  margin: .5em;
  border: .5px solid var(--main-color-dark);
}

.item-news a{
  display: flex;
  flex-direction: column;

  article {
    display: flex;
    flex-direction: column;
  }

  .article-title{
    margin-bottom: .5em;
  }

  .article-content{

  }

  figure{
    margin-bottom: 1em;
  }

  figure img{
    height: 100%;
    width: 100%;
  }

  .data-info{
    color: #fff;
    padding: .5em;
    text-align: center;
    background-color: var(--main-color-dark);
  }

}

// .recipes {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//
//   .recipes-item {
//     width: 20vw;
//     height: 20vh;
//     border: 1px solid red;
//
//     a img {
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
