/*Core Styles*/

body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p{
  margin: 0;
  padding: 1em 0;
}
hr{
  border-color: #fcfcfc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

button{
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  font-size: 1em;
}

.button {
  display: inline-block;
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 19em 0 0 0;

  &:hover {
    background: rgba(227, 224, 207, 0.8);
    color: #383838;
  }
}


.button-position {
  position:relative;

  a {
    position:absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    content:center;
    }
  }

.button-ristretto {
  display: inline-block;
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 2em;

  &:hover{
    background: rgba(227, 224, 207, 0.8);
    color: #383838;
  }
}

/* header */
header{
  img{
    margin: 0 auto;
    width: 5em;
  }
}

.header-menus{
  background: #383838;
}

/*pagina de menus*/
#cardapios{
  background-color: #383838;
  color: #383838;
  padding: 2em 1em 1em;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
    background: #fff;
    color: #383838;
  }
}

/* Header Showcase */
#showcase {
  min-height: 450px;
  color: #fff;
  text-align: center;

  .bg-image{
    position: absolute;
    background: #383838 url('../img/capa.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    opacity: 0.8;
  }

  h1{
    padding-top: 100px;
    padding-bottom: 0;
  }
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A */
#section-a {
  background: #eaeaea;
  color: #383838;
  padding-bottom: 2em;
  p{
    text-align: justify;
  }

}

/* Section B */
#section-b{
  padding: 2em 1em 1em;
  background: #383838;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
    background: #fff;
    color: #383838;
  }
}

.cards-content {
  padding: 1.5em;
}

/* Section C */

#section-c {
  background: #eaeaea;
  color: #383838;
  padding: 2em;
}

/* Section D */
#section-d {
  background: #383838;
  .content-wrap{
    padding: 1.5em;

    img {
      opacity: 0.7;
    }
  }
}


/* Section E / Boxes */

#section-e .box{
  padding: 2em;
  background: #383838;
  color: #fff;

  a {
    color: #fff;
    text-decoration: none;
  }
}

#section-e .box:first-child{
  background: #a72830;
}


/* Footer */
#main-footer {
  padding: 2em;
  background: #212121;
  color: #fff;
  text-align: center;

  a {
    color: #a72830;
    text-decoration: none;
  }
}

/* Login page */

#login-body{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;

  #card-login{
    background-color: rgba(0,0,0,0.7);

    form{
      color: #69f0ae ;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0.5em;
      padding-right: 0.5em;

      .group-custom{
        display: block;

        h1{
          padding: 0;
          margin:0 0 0.5em 0;
          font-size: 2.4em;
        }

        input{
          background-color: transparent;
          color: #fff;
          border: none;
          width: 90%;
          border-bottom: 1px solid #fff;
          margin-bottom: 1em;
          padding: 0.5em;
          font-size: 1em;
          outline: 0 none;
        }

        .btn-form{
          background-color: #69f0ae;
          border-radius: 0.5em;

          button{
            color: #383838;
            padding: 0.5em;
            width: 100%;
          }

        }
      }
    }
  }
}

/*  MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),
  0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}

.modal-header h2, .modal-footer h3{
  margin: 0;
}

.modal-header{
  background: #a72830;
  padding: 15px;
  color: white;
}

.modal-body{
  padding: 10px 20px;
  color: #383838;
}

.modal-footer{
  background: #a72830;
  padding: 10px;
  color: white;
  text-align: center;
}

.closeBtn{
  color: #ccc;
  float: right;
  font-size: 30px;
  color: white;
}

.closeBtn:hover, .closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen {
  from{opacity: 0}
  to {opacity: 1}
}

/* FIM MODAL*/

/* Media Queries */
@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
  }

  #showcase  .button{
    margin: 20em 0 0 0;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;

    p {
      padding-top: 0;
    }
  }

  .content-wrap,
  #section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  #section-b {
     ul {
       display: flex;
       justify-content: space-around;
     }

    li {
      width: 23%;
    }
  }

  #section-d div, #section-d img {
    grid-column: 1/5;
  }

  /* @media Menus page */
  #cardapios {

    padding: 2em 5em;

    ul{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em 1em;
    }
  }

  /*@media login page*/
  //
  // #login-body{
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: 1fr 4fr 1fr;
  //
  //   #card-login{
  //     grid-column-start: 2;
  //     grid-column-end: 3;
  //     grid-row-start: 2;
  //     grid-row-end: 3;
  //   }
  // }

  /* Login page */

  #login-body{
    background-image: url('../img/menu.jpeg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
     " . . . "
     " . form . "
     " . form . "
     " . . . ";

    #card-login{
      background-color: rgba(0,0,0,0.7);
      grid-area: form;
      border-radius: 0.5em;
    }
  }

}
